@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

section{
    background: #111;
    min-height: 100vh;
    .banner-video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            &.active{
                opacity: 1;
            }
        }
    }
    .container{
        position: relative;
        padding: 0 100px;
        display: flex;
        justify-content: flex-start;
        align-tracks: center;
        min-height: 100vh;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            backdrop-filter: blur(10px);
            box-shadow: 10px 0 15px rbga(0,0,0,0.05);
        }
        header{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 100px;
            .logo{
                font-weight: 700;
                text-transform: uppercase;
                color: #fff;
                font-size: 1.8em;
                text-decoration: none;
            }
            ul{
                position: relative;
                display: flex;
                li{
                    margin: 0 20px;            
                    list-style: none;
                    a{
                        position: relative;
                        color: #fff;
                        text-decoration: none;
                        font-size: 18px;
                        padding: 4px 10px;
                        &:hover{
                            background: #fff;
                            color: #111;
                        }
                        &.active{
                            background: #fff;
                            color: #111;
                        }

                    }
                }
            }
            .menu-icon{
                display: none;

            }
        }
         .content{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .banner-text{
                position: relative;
                max-width: 700px;
                div{
                    display: none;
                    transition: 0.5s ease-in-out;
                    h2{
                        color: #fff;
                        font-size: 6em;
                        line-height: 1em;
                        font-weight: 700;
                    }
                    p{
                        color: #fff;
                        font-size: 18px;
                        margin: 20px 0;
                    }
                    &.active{
                        display: initial;
                    }
                
                }
            }
         }
         .controls{
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            list-style: none;
            li{
                background: #fff;
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:hover{
                    background: #f5f5ff;
                }
            }
            
         }

    }
}

@media (max-width: 991px){
    section{
        .container{
            padding: 20px;
            &::before{
                width: 100%;
            }
            header{
                padding: 10px 20px;
                ul{
                    position:fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background: #fff;
                    z-index: 1000;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    li{
                        text-align: center;
                        margin: 10px;
                        a{
                             color: #333;
                             font-size: 1.5em;
                             &:hover{
                                color: #f00 !important;
                                
                             }
                        }
                    }
                }
                .menu-icon{
                    position: fixed;
                    top: 0;
                    right: 0;
                    width: 50px;
                    height: 50px;
                    display: initial;
                    z-index: 1000;
                    background: #fff url(../img/menu.png) no-repeat center;
                    background-size: 30px;
                    cursor: pointer;
                    &.active{
                        background: #fff url(../img/close.png) no-repeat center;
                        background-size: 25px;
                        cursor: pointer;
                    }
                }
                &.active{
                    ul{
                        display: flex;
                    }
                }
            }
            .content{
                .banner-text{
                    max-width: 100%;
                    text-align: center;
                    div{
                        h2{
                            font-size: 3em;
                        }
                    }
                }
            }
            .controls{
                li{
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
}